<div class="container mt-5">
    <div class="card col-md-6 offset-3 mt-2">
        <div class="card-header">Edit Choice</div>
        <div class="card-body">
            <form [formGroup]="editChoiceFormGroup" (ngSubmit)="handleEditChoice()">
                <div class="mb-3">
                    <label class="form-label">ID : </label>
                    <input type="text" formControlName="idC" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Content : </label>
                    <input type="text" formControlName="contentC" class="form-control">
                    
                </div> 
                <div class="mb-3">
                    <label class="form-label">Score : </label>
                    <input type="number" formControlName="scoreC" class="form-control">
                    
                </div>
                <label class="form-label">Related Question : </label>
                    <select (change)="onChange()" [(ngModel)]="selectedResponse" formControlName="choicesResponseId" class="form-control form-select">
                        <option *ngFor="let r of responses" value={{r.idR}}>{{ r.questionDTO.contentQ }}</option>
                    </select>
                <br>
                <button id="editChoiceBtn" class="btn btn-info">Update</button>
            </form> 
        </div>
    </div>
</div>